# Catkin workspace files
.catkin_tools
.catkin_workspace
build
build_isolated
devel
devel_isolated
rosbags
__pycache__
.venv
logs
configs
!configs/example.yaml

# Build artifacts in devcontainer after mount
apt-requirements.txt
deps.rosinstall
python3-requirements.txt