# Copy or link this file into /etc/systemd/system

[Unit]
Description=PhytO-ARM ROS Application
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
WorkingDirectory=/home/hablab/PhytO-ARM
ExecStart=/bin/bash scripts/docker_run_daemon.sh

[Install]
WantedBy=multi-user.target
