# Copy or link this file into /etc/systemd/system

[Unit]
Description=PhytO-ARM ROS Application
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/home/hablab/PhytO-ARM
ExecStart=/bin/bash -c ". devel/setup.bash; roslaunch pa_base phyto_arm.launch"

[Install]
WantedBy=multi-user.target
