<launch>
  <!-- Most settings are in config.yaml, which is easier to edit -->
  <rosparam command="load" file="$(find pa_base)/launch/config.yaml"/>

  <!--
    Node: nmea_listener
    
    This node receives UDP packets from the AirLink MP70 and rebroadcasts them
    as ROS messages.
    -->
  <node name="nmea_listener" pkg="ds_sensors" type="sensor" args="--sensor=xeos_gps" />

  <!--
    Node: jvl_motor

    This node communicates with a JVL motor and publishes register status.
    -->
  <node name="jvl_motor" pkg="pa_base" type="jvl_motor_node.py" />

  <!--
    Node: web

    This node serves a website for testing purposes.
    -->
  <node name="web" pkg="pa_base" type="web_node.py" />

  <!--
    Node: rosbridge_server

    This node runs the Rosbridge (http://wiki.ros.org/rosbridge_suite) 
    WebSocket server on port 9090 and is necessary for connecting from Webviz.
  -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" /> 
</launch>
