<launch>
    <!-- Most settings are in config.yaml, which is easier to edit. -->
    <rosparam command="load" file="$(arg config_file)" />

    <node name="ifcb" pkg="ifcb" type="ifcb" />

    <node name="ifcb_logfilter" pkg="ifcb" type="ifcb_logfilter" />

    <!-- AML winch namespace. Important for separating similar nodes on different arms -->
    <group ns="arm_sipper">
        <param name="winch_enabled" value="false" type="bool" />

        <node name="arm" pkg="phyto_arm" type="arm_sipper.py" />

        <node name="ifcb_runner" pkg="phyto_arm" type="ifcb_runner.py" />

        <group ns="digital_loggers">
            <node name="digital_logger_1" pkg="dli_power_switch" type="dli_power_switch_node.py" />

            <node name="digital_logger_2" pkg="dli_power_switch" type="dli_power_switch_node.py" />
        </group>
    </group>
</launch>
