<launch>
    <!-- This is the launch file for PhytO-ARM's core processes.
         See arm launch files for payload specific settings. -->

    <!-- Most settings are in config.yaml, which is easier to edit. -->
    <rosparam command="load" file="$(arg config_file)" />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="use_compression" value="true" />
    </include>

    <node name="lock_manager" pkg="phyto_arm" type="lock_manager.py" />

    <!-- <node name="network_data_capture" pkg="phyto_arm" type="network_data_capture.py" required="false" /> -->

    <group if="$(arg classifier)">
        <node name="classifier" pkg="triton_classifier" type="classifier_node.py" />

        <node name="image_transport" pkg="phyto_arm" type="image_transport_node.py" />
    </group>


    <node name="web" pkg="phyto_arm" type="web_node.py" />


    <node if="$(arg digital_logger)" name="digital_logger" pkg="dli_power_switch" type="dli_power_switch_node.py"/>

    <!--
    disabled
    <node name="instant_replay" pkg="phyto_arm" type="instant_replay_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />
    -->
</launch>
