<launch>
    <!-- Most settings are in config.yaml, which is easier to edit -->
    <rosparam command="load" file="$(arg config_file)" />

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="use_compression" value="true" />
    </include>

    <node name="ctd" pkg="phyto_arm" type="mock_ctd.py" />

    <!-- AML winch namespace -->
    <group ns="aml_arm" if="$(arg aml_arm)">
        <node name="arm" pkg="phyto_arm" type="arm_ifcb.py" />

        <node name="winch" pkg="phyto_arm" type="mock_winch_node.py" />

        <node name="profiler" pkg="phyto_arm" type="profiler_node.py" />

        <node name="ifcb_runner" pkg="phyto_arm" type="mock_ifcb_runner.py" />
    </group>

    <!-- RBR winch namespace TODO find better conditional -->
    <group ns="rbr_arm" if="$(arg rbr_arm)">
        <node name="ctd" pkg="phyto_arm" type="mock_ctd.py" />

        <node name="arm" pkg="phyto_arm" type="rbr_arm.py" />

        <node name="winch" pkg="phyto_arm" type="mock_winch_node.py" />
    </group>

    <node name="web" pkg="phyto_arm" type="web_node.py" />

    <node name="ifcb_logfilter" pkg="ifcb" type="ifcb_logfilter" />

    <node name="winch_semaphore" pkg="phyto_arm" type="winch_semaphore.py" />

    <group ns="camera">
        <node name="fore_camera" pkg="rtsp_camera" type="rtsp_camera_node">
            <remap from="~image" to="~image/do_not_use" />
            <remap from="~image/do_not_use/compressed" to="~image/compressed" />
        </node>
    </group>
</launch>
