<launch>
    <!-- Most settings are in config.yaml, which is easier to edit -->
    <rosparam command="load" file="$(arg config_file)" />

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <!-- Exclude the uncompressed /camera/image topic -->
        <arg name="topic_whitelist" value="[&quot;^(?!/camera/image$).*&quot;]" />
    </include>

    <node name="ctd_comms" pkg="ds_util_nodes" type="bridge_node" />

    <group if="$(eval arg('ctd') == 'rbr_maestro3')">
        <node name="ctd" pkg="rbr_maestro3_ctd" type="rbr_maestro3_node.py"
              launch-prefix="$(optenv LAUNCH_PREFIX)">
            <remap from="~in" to="/ctd_comms/in" />
        </node>
    </group>

    <group if="$(eval arg('ctd') == 'aml')">
        <node name="ctd" pkg="aml_ctd" type="aml_ctd_node.py"
              launch-prefix="$(optenv LAUNCH_PREFIX)">
            <remap from="~in" to="/ctd_comms/in" />
        </node>
    </group>

    <node name="motor" pkg="jvl_motor" type="jvl_motor_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="winch" pkg="phyto_arm" type="winch_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="profiler" pkg="phyto_arm" type="profiler_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="gps" pkg="gpsd_client" type="gpsd_client">
        <remap from="/fix" to="~fix" />
        <remap from="/extended_fix" to="~extended_fix" />
    </node>

    <node name="web" pkg="phyto_arm" type="web_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="ifcb" pkg="ifcb" type="ifcb"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="ifcb_logfilter" pkg="ifcb" type="ifcb_logfilter"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="conductor" pkg="phyto_arm" type="conductor_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />

    <node name="camera" pkg="rtsp_camera" type="rtsp_camera_node" />

    <!--
    disabled
    <node name="instant_replay" pkg="phyto_arm" type="instant_replay_node.py"
          launch-prefix="$(optenv LAUNCH_PREFIX)" />
    -->
</launch>
