<launch>
    <!-- Most settings are in config.yaml, which is easier to edit -->
    <rosparam command="load" file="$(arg config_file)" />

    <node name="seatrac" pkg="seatrac" type="seatrac_node.py" required="true">
        <remap from="~in" to="~comms/in" />
        <remap from="~out" to="~comms/out" />
    </node>

    <node ns="seatrac" name="comms" pkg="ds_util_nodes" type="bridge_node"
          required="true" />
</launch>
