name: Build container image

on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      # For multi-platform builds
      # https://github.com/docker/build-push-action/blob/master/docs/advanced/multi-platform.md
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Initialize
        id: init
        env:
          EVENT_NAME: ${{ github.event_name }}
          GIT_REF: ${{ github.ref }}
          REPOSITORY: ${{ github.repository }}
        run: |
          # Determine whether to push to Docker Hub based on the event type
          case "$EVENT_NAME" in
            push)
              DOCKER_PUSH=true ;;
            *)
              DOCKER_PUSH=false ;;
          esac

          # Map git ref branch or tag name to Docker tag version
          case "$GIT_REF" in
            # Do not push upstream branches and tags to Docker Hub
            refs/heads/upstream/*|refs/tags/upstream/*)
              DOCKER_PUSH=false ;;

            # Do not push pull request branches
            refs/pulls/*)
              DOCKER_PUSH=false ;;
          esac

          echo "docker_push=$DOCKER_PUSH" >> "$GITHUB_OUTPUT"
          echo "docker_repo=whoi/$(basename "$REPOSITORY" | tr A-Z a-z)" >> "$GITHUB_OUTPUT"
          echo "docker_platforms=linux/amd64,linux/arm64" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.init.outputs.docker_repo }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha

      - name: Log into registry
        if: steps.init.outputs.docker_push == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ steps.init.outputs.docker_platforms }}
          push: ${{ steps.init.outputs.docker_push }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
